.hidden {
    display: none;
}

.plot {
    float: left;
    margin-bottom: 10px;
}

.graph {
    float: left;
    width: 100;
    height: 100;
}

.data {
    float: left;
    margin-top: 1px;
}

.title {
    float: bottom;
    font-weight: bold;
    margin-right: 1px;
    font-size: 60%
}

.value {
    float: right;
    font-size: 60%
}

.axis text {
      font: 4px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
